
<ul class="nav navbar navbar-nav">

    <li><a href="{{path('clerk.start')}}">ПОЧАТОК</a></li>

    <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">ВХІДНІ ДОКУМЕНТИ</a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{path('clerk.doclist.all')}}">УСІ ДОКУМЕНТИ</a></li>
            <li><a href="{{path('clerk.doclist.alltyped',{'type':'state'})}}">РОЗПОРЯДЧІ ЛИСТИ</a></li>
            <li><a href="{{path('clerk.doclist.alltyped',{'type':'org'})}}">ЛИСТИ З ОРГАНІЗАЦІЙ</a></li>
            <li><a href="{{path('clerk.doclist.alltyped',{'type':'people'})}}">ЗВЕРНЕННЯ ГРОМАДЯН</a></li>
            <li><a href="{{path('clerk.doclist.alltyped',{'type':'visit'})}}">ПРИЙОМ ВІДВІДУВАЧІВ</a></li>
        </ul>
    </li>    
    <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">ВИХІДНІ ДОКУМЕНТИ</a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{path('clerk.doclist.all')}}">УСІ ДОКУМЕНТИ</a></li>
            <li><a href="{{path('clerk.doclist.alltyped',{'type':'state'})}}">РОЗПОРЯДЧІ ЛИСТИ</a></li>
            <li><a href="{{path('clerk.doclist.alltyped',{'type':'org'})}}">ЛИСТИ З ОРГАНІЗАЦІЙ</a></li>
            <li><a href="{{path('clerk.doclist.alltyped',{'type':'people'})}}">ЗВЕРНЕННЯ ГРОМАДЯН</a></li>
            <li><a href="{{path('clerk.doclist.alltyped',{'type':'visit'})}}">ПРИЙОМ ВІДВІДУВАЧІВ</a></li>
        </ul>
    </li>    
    <!--
    <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">НОВИЙ ДОКУМЕНТ</a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{path('clerk.doc.new.people')}}">ЗВЕРНЕННЯ ГРОМАДЯНИНА</a></li>
            <li><a href="{{path('clerk.doc.new.org')}}">ЛИСТИ З ОРГАНІЗАЦІЙ</a></li>
            <li><a href="{{path('clerk.doc.new.people')}}">ПРИЙОМ ВІДВІДУВАЧІВ</a></li>
            <li><a href="{{path('clerk.doc.new.state')}}">РОЗПОРЯДЧИЙ ЛИСТ</a></li>
        </ul>
    </li>-->
    <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">АРХІВ</a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{path('clerk.doclist.archive')}}">ВХІДНІ ДОКУМЕНТИ</a></li>
            <li><a href="{{path('clerk.doclist.archive')}}">ВИХІДНІ ДОКУМЕНТИ</a></li>
        </ul>
    </li>
    <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">ЗАЯВНИКИ</a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="{{path('clerk.people.all')}}">УСІ</a></li>
            <li><a href="{{path('clerk.people.all')}}">ДОДАТИ</a></li>
        </ul>
    </li>
    <li class="dropdown"><a class="dropdown-toggle" href="{{path('clerk.people.all')}}">ПОШУК</a>

    </li>   


</ul>

